PORT=3000
NODE_ENV=PRODUCTION
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/Chattu?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_key_change_in_production
ADMIN_SECRET_KEY=your_admin_secret_key_here
CLIENT_URL=http://localhost:5173

# Cloudinary credentials for media upload
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
